<div id="global">
	<div id="mainContainer">
		<div class="titlelabel">
		</div>
		<div class="subtitle">
			<div id="songid">
				<div id="songheader"><span id="spanheader">{{user.displayName}}</span> based on your feed you match the song...</div>
				<img id="drakeimg" src="assets/emotional.jpg" data-toggle="tooltip" data-placement="right" title="{{song.text}}">
				<div id="songtitle">{{song.song}}</div>
			</div>
		</div>
		<div class="igContainer">
			{{#each data.posts}}
				<div class="igItem" data-toggle="tooltip" data-placement="right" title="{{emotion}}">
					{{#if picture}}
						<paper-card enableHover="true" overlayImage="{{picture}}" style="width:350px; height:auto;" id="card_{{id}}" caption="{{message}}" author={{author}}></paper-card>
					{{else}}
						<div class="fbmessage">
							<paper-message enableHover="true" style="width:350px; height:auto;" id="card_{{id}}" caption="{{message}}" author="{{author}}"></paper-message>
						</div>
					{{/if}}
				</div>
			{{/each}}
		</div>
	</div>
</div>