hello accounts
<p>ID: {{user.id}}</p>
<p>Name:{{user.displayName}}</p>
<p>Gender: {{user.gender}}</p>
<p>Song: {{data.song}} </p>
{{#each data.posts}}
  <img src="{{picture}}" class="img-responsive" class="img hashtag-img">
  <p>{{message}}</p>
{{/each}}