<div id="global">
	<div id="mainContainer">
		<div class="titlelabel">	
			<p></p>
		</div>
		<div class="subtitle">
			<div id="songid">
				<div id="songheader">{{user}}, based on your feed the Drake song that best suits you is...</div>
				<div id="songtitle">{{song.song}}</div>
				<img id="drakeimg" src="assets/emotional.jpg" >
			</div>
		</div>
		<div class="igContainer">
			{{#each photos}}
				<div class="igItem">
					<paper-card enableHover="true" overlayImage="{{url}}" style="width:350px; height:auto;" id="card_{{id}}" caption="{{caption}}" author={{author}}></paper-card>
				</div>
			{{/each}}
		</div>
	</div>
</div>

